


<h1>Previous Responses</h1>



    <% @lobby.responses.each do |u| %>
    <!-- how to use collection given in calling routine? -->
      <%= puts u %>
    <% end %>




 <%= link_to("Back to main page", '/mainpage/mainpage') %>
