<h2>All Lobbies</h2>

<table class="table">
	<thead>
		<tr>
			<th>Lobby Name</th>
			<th>Players in Lobby</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @lobbies.each do |s| %>
		<tr>
			<td><%= s.title %></td>
			<td><%= s.spotsLeft %> / 4</td>
			<td><div class="btn btn-primary btn-lg"><%= link_to "Join Lobby", controller: "lobby", action: "lobby", id: s.id  %></div></td>
		</tr>
		<% end %>
	</tbody>
</table>
