
<div class="vertical-center">
	<div id="waitingForPlayers" class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-3 text-center">Waiting for more players to join <%= @lobby.title %></h1>
			<p class="lead text-center"> x / 4 players</p>
		</div>
	</div>

	<div id="waitingForInput" class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-3 text-center">Please enter a response</h1>

			<%= render partial: 'responses/response', collection: @lobby.responses%>
			<!-- above does not render  -->

			<div class="form-group">
				<div id="response" aria-describedby="userResponse">
					<%= render partial: 'responses/response_form', locals: {response: @response, lobby: @lobby}%> 
				</div>
			</div>
    			<!-- input type="response" class="form-control" id="response" aria-describedby="userResponse"> -->
  			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		$("#waitingForInput").hide(0);
		$("#waitingForPlayers").delay(1000).slideUp(1500);
		$("#waitingForInput").delay(3000).slideToggle(1000);
	});

</script>




