<div class="centerDiv">
<h2 class="centerHeader">Add Lobby</h2>
<%= form_for @lobby, url: lobby_create_path do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: 'form-control' %>
  </div>

  <%= f.submit "Create lobby", class: 'btn btn-primary' %>
<% end %>
</div>
